<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.HisAddressMapper">

	<!-- 不写的话Date字段无法查询 -->
	<resultMap type="HisAddress" id="HisAddressResultMap">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
        <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
        <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
        <result column="LAST_UPDATOR" jdbcType="VARCHAR" property="lastUpdator" />
        <result column="LAST_UPDATOR_NAME" jdbcType="VARCHAR" property="lastUpdatorName" />
        <result column="LOCK_VERSION" jdbcType="BIGINT" property="version" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="DOMAIN" jdbcType="VARCHAR" property="domain" />
        <result column="GUID" jdbcType="VARCHAR" property="guid" />
        <result column="RECORD_TIME" jdbcType="TIMESTAMP" property="recordTime" />
        <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
        <result column="CITY" jdbcType="VARCHAR" property="city" />
        <result column="COUNTY" jdbcType="VARCHAR" property="county" />
        <result column="TOWN" jdbcType="VARCHAR" property="town" />
        <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
        <result column="LNG" jdbcType="VARCHAR" property="lng" />
        <result column="LAT" jdbcType="VARCHAR" property="lat" />
        <result column="PRECISE" jdbcType="BIGINT" property="precise" />
        <result column="CONFIDENCE" jdbcType="BIGINT" property="confidence" />
        <result column="SORTING_CODE" jdbcType="VARCHAR" property="sortingCode" />
    </resultMap>

	<select id="getAddressById" resultMap="HisAddressResultMap">
		SELECT * FROM
		bc_his_address WHERE id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="HisAddress">
		insert into bc_his_address (domain,guid,record_time,province,city,county,address,sorting_code)
		values (#{domain},#{guid},#{recordTime},#{province},#{city},#{county},#{address},#{sortingCode})
	</insert>

</mapper>